.wishlist-page {
  padding: 12rem 2rem 4rem 2rem;
}

.heading-wishlist {
  margin-top: 5rem;
  font-size: 2.5rem;
  padding: 2rem;
  position: absolute;
  margin-left: 38%;
}

.wishlist-para {
  margin-top: 13rem;
  margin-left: 36%;
  position: absolute;
}

.click-here {
  color: var(--primary-color);
  text-decoration: underline;
}

.click-here:hover {
  cursor: pointer;
}
